.ms-game-area {
	.flex(row);
	flex-wrap: wrap;
}
	.ms-game-area__cell {
		width: 100px;
		height: 100px;
		/*width: 100%;*/
		/*height: 100%;*/
		margin: 10px;
		background: @col_cell;
	}
	.ms-game-area__cell--active {
		background: @col_cell-active;
	}