.ms-game-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ms-game-area__cell {
  width: 100px;
  height: 100px;
  /*width: 100%;*/
  /*height: 100%;*/
  margin: 10px;
  background: #EAEAEA;
}
.ms-game-area__cell--active {
  background: #5599FF;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
